name: 每日自动运行 Apifox WMS测试

on:
  # 1. 定义定时任务：每天 UTC 时间 1:00（即北京时间 9:00）运行
  schedule:
    - cron: '0 1 * * *' 
  # 2. 保留手动触发功能，方便测试
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install Apifox CLI
      run: npm install -g apifox-cli

    - name: Running Test Scenario
      run: apifox run --access-token APS-i6vNL4HBkGVdHAF60HRdb8tVh0IGJJXr -t 7373377 -e 19002154 -n 6 --delay-request 200 -r html,cli

